{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
		&rsaquo; {% trans "Settings" %}
	</div>
{% endblock %}

{% block content %}
	<div id="content-main">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				{% if errors %}
					<p class="errornote">
						{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
					</p>
					{{ adminform.form.non_field_errors }}
				{% endif %}

				{% for fieldset in fieldsets %}
					{% include "admin/includes/fieldset.html" %}
				{% endfor %}

				{% submit_row %}
			</div>
		</form>
	</div>
{% endblock %}
